@charset "utf-8";

body {
    margin: 0px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
}

nav {
    display: block;
}

ul {
    padding-left: 0;
    list-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    max-width: 100%;
}

section {
    display: block;
}
  
/* header */
header {
    padding: 40px 0 100px;
    background: url(image/black.jpg) no-repeat right center/100%;
    color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header-top a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.header-top li {
    margin-left: 30px;
}

.global-nav {
    display: flex;
}

.message h2 {
    margin: 0 120px 60px;
    font-size: 42px;
    line-height: 1.2;
}

.message p {
    margin: 0 120px 40px;
    font-size: 18px;
}

/* main */
main {
    padding: 50px 0 30px;
    background-color: #fff;
}
  
.about {
    margin-bottom: 150px;
}
  
.about h2 {
    margin: 0 0 50px;
    color: #000;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-align: center;
}

.about-inner h2 {
    font-size: 40px;
    text-align: center;
}
  
.about-all {
    justify-content: space-between;
}
  
.about-all article {
    text-align: center;
    width: 50%;
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left : auto;
}
 
.about-all img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    padding-right: -50px;
    filter: drop-shadow(5px 5px 5px #aaa);
}

.about-all article img {
    margin-bottom: 30px;
}

.about-all article ul {
    font-size: 20px;
}
    
.about-all article ul li {
    width: 380px;
    height: 60px;
    font-style: bold;
    font-size: 20px;
    width: 40vw;
    text-align: center;
    margin: 17px 0 0 0;
    margin-bottom: 10px;
}

/* works */
.works {
    margin-bottom: 80px;
}

.works-inner h2 {
    font-size: 40px;
    text-align: center;
}

.works h2{
    margin: 0 0 50px;
    color: #000;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-align: center;
}

.works-all{
    display: flex;
    justify-content: space-between;
    display: block;
}
  
.works-all article{
    width: 800px;
    height: 400px;
    margin: auto;
    margin-bottom: -70px;
    display: flex;
    justify-content: space-between;
}
  
.works-all img{
    border-radius: 10px;
    height: 180px;
    width: 360px;
    filter: drop-shadow(5px 5px 5px #aaa);
}

.grayscale img {
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease-in-out;
}
  
.grayscale img:hover {
    filter: grayscale(100%);
}

/* footer */
footer{
    text-align: center;
    padding: 40px 0 100px;
    background: url(black.jpg) no-repeat right center/100%;
    color: #fff;
}
  
footer ul{
    display: flex;
    float: left;
    margin-bottom: 30px;
}
  
footer li{
    margin: 0 5px;
    font-size: 15px;
}
  
footer small{
    color: #fff;
    float: right;
    font-size: 15px;
}
  
footer a{
    color:#fff
}

